In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsRegressor

In [5]:
df = pd.read_csv("Untitled/merged.csv")
df.head()

   subject_id  hadm_id  ...  prescription_count services
0       10006   142345  ...                18.0  ['MED']
1       10011   105331  ...                 NaN  ['MED']
2       10013   165520  ...                36.0  ['MED']
3       10017   199207  ...                20.0  ['MED']
4       10019   177759  ...                67.0  ['MED']

[5 rows x 38 columns]

In [14]:
# Cleaning the data
df.isnull().sum().sort_values(ascending=False)

deathtime               90
language                48
dod_hosp                48
edregtime               40
edouttime               40
dod_ssn                 28
marital_status          16
prescription_count      10
drugs                   10
religion                 1
diagnosis                0
hospital_expire_flag     0
dob                      0
has_chartevents_data     0
gender                   0
dod                      0
expire_flag              0
icd9_codes               0
diagnosis_count          0
ethnicity                0
subject_id               0
hadm_id                  0
intime                   0
icustay_id               0
dbsource                 0
first_careunit           0
last_careunit            0
first_wardid             0
last_wardid              0
outtime                  0
insurance                0
los                      0
admittime                0
dischtime                0
admission_type           0
admission_location       0
discharge_location       0
services                 0
dtype: int64

In [15]:
df.shape

(136, 38)